{% extends "base.html" %}


{% block page_content %}
	<div class="row" id="login_form">
		    <form class="col s12" method="POST" action="login">
		      <div class="row">
		        <div class="input-field col s12">
		          <i class="material-icons prefix">person</i>
		          <input id="username" type="text" name="username" autocorrect="off" class="validate">
		          <label for="username">Username</label>
		        </div>
		      </div>
		      <div class="row">
		        <div class="input-field col s12">
		          <i class="material-icons prefix">fingerprint</i>
		          <input id="password" type="password" name="password" class="validate">
		          <label for="password">Password</label>
		        </div>
		      </div>
		      <div class="row">
		        <div class="input-field col s12">
		         <button class="btn waves-effect waves-light cust-btn" type="submit" name="submit">Login
		             <i class="material-icons right">send</i>
		           </button>
		        </div>
		      </div>
		    </form>
		  </div>
		  <script type="text/javascript">
		  {% for message in get_flashed_messages() %}
		  	M.toast({html: '{{ message}}'})
		  {% endfor %}
		  </script>
{% endblock %}

